In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("worldcities.csv")

In [3]:
df

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37732000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
2,Delhi,Delhi,28.6100,77.2300,India,IN,IND,Delhi,admin,32226000.0,1356872604
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133
4,Mumbai,Mumbai,19.0761,72.8775,India,IN,IND,Mahārāshtra,admin,24973000.0,1356226629
...,...,...,...,...,...,...,...,...,...,...,...
44686,Numto,Numto,63.6667,71.3333,Russia,RU,RUS,Khanty-Mansiyskiy Avtonomnyy Okrug-Yugra,NaN,10.0,1643985006
44687,Nord,Nord,81.7166,-17.8000,Greenland,GL,GRL,NaN,NaN,10.0,1304217709
44688,Timmiarmiut,Timmiarmiut,62.5333,-42.2167,Greenland,GL,GRL,Kujalleq,NaN,10.0,1304206491
44689,San Rafael,San Rafael,-16.7795,-60.6799,Bolivia,BO,BOL,Santa Cruz,NaN,NaN,1068405265
44690,Nordvik,Nordvik,74.0165,111.5100,Russia,RU,RUS,Krasnoyarskiy Kray,NaN,0.0,1643587468

In [4]:
df[df["country"]=="Germany"]

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
159,Berlin,Berlin,52.5200,13.4050,Germany,DE,DEU,Berlin,primary,4473101.0,1276451290
290,Stuttgart,Stuttgart,48.7775,9.1800,Germany,DE,DEU,Baden-Württemberg,admin,2787724.0,1276171358
317,Munich,Munich,48.1375,11.5750,Germany,DE,DEU,Bavaria,admin,2606021.0,1276692352
335,Hamburg,Hamburg,53.5500,10.0000,Germany,DE,DEU,Hamburg,admin,2484800.0,1276041799
700,Cologne,Cologne,50.9364,6.9528,Germany,DE,DEU,North Rhine-Westphalia,NaN,1083498.0,1276015998
...,...,...,...,...,...,...,...,...,...,...,...
43434,Bösel,Bosel,53.0058,7.9542,Germany,DE,DEU,Lower Saxony,NaN,8550.0,1276774199
43450,Meßkirch,Messkirch,47.9928,9.1125,Germany,DE,DEU,Baden-Württemberg,NaN,8513.0,1276541566
43451,Lützen,Lutzen,51.2597,12.1417,Germany,DE,DEU,Saxony-Anhalt,NaN,8546.0,1276691830
43467,Osternienburg,Osternienburg,51.8000,12.0167,Germany,DE,DEU,Saxony-Anhalt,NaN,8549.0,1276698635
43492,Löwenberg,Lowenberg,52.8960,13.1546,Germany,DE,DEU,Brandenburg,NaN,8548.0,1276763095

In [9]:
capitals = df[((df["capital"]=="primary") & (df["population"]>10000)) | (df["population"]>1000000)]
capitals

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37732000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
2,Delhi,Delhi,28.6100,77.2300,India,IN,IND,Delhi,admin,32226000.0,1356872604
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133
4,Mumbai,Mumbai,19.0761,72.8775,India,IN,IND,Mahārāshtra,admin,24973000.0,1356226629
...,...,...,...,...,...,...,...,...,...,...,...
874,Roseau,Roseau,15.3014,-61.3883,Dominica,DM,DMA,Saint George,primary,16582.0,1212060440
875,Basseterre,Basseterre,17.3000,-62.7333,Saint Kitts and Nevis,KN,KNA,Saint George Basseterre,primary,13220.0,1659198919
876,Tórshavn,Torshavn,62.0000,-6.7833,Faroe Islands,FO,FRO,Tórshavn,primary,13326.0,1234904517
877,Road Town,Road Town,18.4167,-64.6167,British Virgin Islands,VG,VGB,NaN,primary,12603.0,1092732412
878,Pago Pago,Pago Pago,-14.2740,-170.7046,American Samoa,AS,ASM,NaN,primary,12576.0,1016976740

In [10]:
# split capitals randomly in 10 groups
capitals["group"] = capitals["city"].apply(lambda x: hash(x) % 10)
capitals

/var/folders/vx/56f7nbnd4x11hf9xxfw22kg40000gn/T/ipykernel_40779/770796411.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  capitals["group"] = capitals["city"].apply(lambda x: hash(x) % 10)

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,group
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37732000.0,1392685764,5
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077,4
2,Delhi,Delhi,28.6100,77.2300,India,IN,IND,Delhi,admin,32226000.0,1356872604,8
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133,5
4,Mumbai,Mumbai,19.0761,72.8775,India,IN,IND,Mahārāshtra,admin,24973000.0,1356226629,4
...,...,...,...,...,...,...,...,...,...,...,...,...
874,Roseau,Roseau,15.3014,-61.3883,Dominica,DM,DMA,Saint George,primary,16582.0,1212060440,6
875,Basseterre,Basseterre,17.3000,-62.7333,Saint Kitts and Nevis,KN,KNA,Saint George Basseterre,primary,13220.0,1659198919,8
876,Tórshavn,Torshavn,62.0000,-6.7833,Faroe Islands,FO,FRO,Tórshavn,primary,13326.0,1234904517,9
877,Road Town,Road Town,18.4167,-64.6167,British Virgin Islands,VG,VGB,NaN,primary,12603.0,1092732412,0
878,Pago Pago,Pago Pago,-14.2740,-170.7046,American Samoa,AS,ASM,NaN,primary,12576.0,1016976740,6

In [12]:
num_of_groups = 10
level_counter = 0
counter_max = 5
score_needed = 100
header = ""
header += "const locations = [\n"
for i in range(num_of_groups):
    header += "  {\n"
    header += "    level: " + str(level_counter+1) + ",\n"
    header += "    counter_max: " + str(counter_max) + ",\n"
    header += "    score_needed: "+ str(score_needed) + ",\n"
    header += "    cities: [\n"
    for index, row in capitals[capitals["group"]==i].iterrows():
        header += "      {\n"
        header += "        city: '" + row["city"] + "',\n"
        header += "        lat: " + str(row["lat"]) + ",\n"
        header += "        lng: " + str(row["lng"]) + ",\n"
        header += "        country: '" + row["country"] + "',\n"
        header += "        population: " + str(row["population"]) + ",\n"
        header += "      },\n"
    header += "    ],\n"
    header += "      },\n"

header += "  ];\n"

with open("location_test.js", mode="w") as f:
        f.write(header)